<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radaee.viewlib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" >
        

        
          <activity
            android:name="com.radaee.reader.VideoView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
       
             
    </application>

</manifest>
